<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= @title %></title>
  </head>
  <body>
    <h1>Help</h1>
	<p>
	  Get help on Ruby on Rails Tutorial at the
	  <a href="http://www.railstutorial.org/help">Rails Tutorial help page</a>.
	  To get help on this sample app, see the
	  <a href="http://www.railstutorial.org/book">Rails Tutorial book</a>.
	</p>
	
  </body>
</html>
